a {
  text-decoration: none;
  color: black;
}

.app {
  padding: 20px;
}

.content {
  width: 85%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.m10px {
  margin: 10px
}

.sidebar {
  width: 15%;
  background: #F5F5F5;
  height: 100vh;
  text-align: center;
  padding: 10px;
  padding-top: 50px;
}

.title {
  font-size: 1.5em;
  text-align: center;
}
